<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>Result</title>
    <style>
      article.wrapper{
        min-height: calc(100vh - 15rem);
      }
      h1, h2{
        margin: 1rem;
      }
      .card{
        margin-top: 4rem;
      }
    </style>
  </head>
  <body>
    <header>
      <span>Night Hunters</span>
    </header>
    <main>
      <div id="particles-js">
      </div>
      <article class="wrapper">
        <h2>No Worries!</h2>
        <h3>Your Account is Secure.</h3>
      </article>
    </main>
    <footer>
      <div class="fain">
        <a class="fainHead" href="">Night Hunters</a>
      </div>
      <div class="fain-components">
        <a href="">Utkarsh Dhiman</a>
        <a href="">Manpreet Singh Kullar</a>
        <a href="">Ashwani Kumar</a>
      </div>
    </footer>
    <script src="{% static 'app/particles.js' %}"></script>
    <script src="{% static 'app/particle-control.js' %}"></script>
  </body>
</html>
