<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'app/style.css' %}">
  <style>
  </style>
</head>
<body>
  <header>
    <span>Night Hunters</span>
  </header>
  <main>
    <div id="particles-js">
    </div>
    <article class="wrapper">
      <h2>Type URL to check Open PORT(s)</h2>
      <form class="card" id="theForm" action="{% url 'port' %}" method="POST">
        {% csrf_token %}
        <input id="inputType" class="interact" placeholder="type here" name ="text" type="text">
        <button id="btn-send" type="submit" class="interact toolTip">
          <span class="toolTipText">It may take upto several minutes.</span>
          Send
        </button>
      </form>

      <div class="hide h-check">
        <div class="lds-ripple"><div></div><div></div></div>
        <span class="animate034">Initializing...</span>
      </div>
    </article>
  </main>
  <footer>
    <div class="fain">
      <a class="fainHead" href="">Night Hunters</a>
    </div>
    <div class="fain-components">
      <a href="">Utkarsh Dhiman</a>
      <a href="">Manpreet Singh Kullar</a>
      <a href="">Ashwani Kumar</a>
    </div>
  </footer>
  <!-- <script src="{% static 'app/chat.js'%}"></script> -->
  <script src="{% static 'app/particles.js' %}"></script>
  <script src="{% static 'app/particle-control.js' %}"></script>
  <script>
const theForm = document.querySelector("#theForm");
const animate034 = document.querySelector(".animate034");
const hCheck = document.querySelector(".h-check");
const manyWords = [
  "Increasing processing power",
  "Increasing power comsumption",
  "Requesting the Government for resources",
  "Awaiting Approval",
  "Checking Funds",
  "Positioning Satellites"
];

theForm.addEventListener("submit", superRun);
function run(i){
  animate034.innerHTML = manyWords[i];
}
function superRun(){
  hCheck.classList.remove("hide");
  let i = 0;
  setInterval(() => {
  run(i++);
  if(i>=manyWords.length) i=0;
}, 10000);
}

</script>

</body>
</html>
