<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'app/style.css' %}">
<style>
body  {

  background-color: #cccccc;
}


.button {
  background-color: #0020C2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}


.button5 {font-size: 24px;}
</style>
</head>
<body>
<center>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<h1>Opened Ports are:</h1>
<h1>{{target}}</h1>
{% for data in ports %}
    <h2 style="color:red;"> {{data}}</h2>
    {% endfor %}
    {{data}}
    </center>
</body>
</html>
